.block--custom-layout__lets-talk-form {
    padding: 55px 0 50px;
    background-size: cover;
    background-repeat: no-repeat;
    .left {
        text-align: left;
    }
    .center {
        text-align: center;
    }
    .right {
        text-align: right;
    }

    .container-block {
        max-width: 1512px;
    }
    .tb-wr {
       .tb-c-wr {
            @media (max-width: $bp_mobileLandscape) {
                display: block;
            }
       }
       &.left-col {
            .content-cell {
                padding-left: 6.875rem;
                padding-right: 0;
                @media (min-width: $bp_desktopMedium) {
                    position: relative;
                    right: -20px;
                }
                @media (max-width: $bp_mobileMenuShift) {
                    padding-left: 5rem;
                }
                @media (max-width: $bp_tabletPortrait2) {
                    padding-left: 3rem;
                }
                @media (max-width: $bp_mobileLandscape) {
                    padding-left: 0;
                }
            }
       }
    }
    h3 {
        margin-bottom: 70px;
        @media (max-width: $bp_mobileLandscape) {
            margin-bottom: 40px;
            font-size: 30px;
        }
        @media (max-width: $bp_mobile) {
            margin-bottom: 30px;
        }
        @media (max-width: $bp_mobileMedium) {
            font-size: 25px;
            line-height: 31px;
        }
    }
    p {
        @include typography(getFont(1), 24px, 35px, 300, inherit);
        margin-bottom: 40px; 
        @media (max-width: $bp_mobileLandscape) {
            margin-bottom: 20px;
            // font-size: 25px;
            // line-height: 31px;
        }
        @media (max-width: $bp_mobile) {
            font-size: 20px;
            line-height: 27px;
        }
        a{
            text-decoration: none;
            color: getColor(2);
            @include transition(0.45s);
    
            &:focus,
            &:hover{
                color: getColor(1);
            }
        }
    }
    .content-cell {
        max-width: 690px;
        padding-right: 6.875rem;
        @media (min-width: $bp_desktopMedium) {
            position: relative;
            left: -20px;
        }
        @media (max-width: $bp_mobileMenuShift) {
            padding-right: 5rem;
        }
        @media (max-width: $bp_tabletPortrait2) {
            padding-right: 3rem;
        }
        @media (max-width: $bp_mobileLandscape) {
            padding-right: 0;
        }
        img {
            @include transition(0.35s);
            &:hover {
                opacity: 0.7;
            }
            @media (max-width: $bp_mobileLandscape) {
                margin-top: 20px;
            }
        }
        .phone-link {
            text-decoration: none;
            @include transition(0.35s);
            &:hover {
                opacity: 0.7;
                color: getColor(2);
            }
            img {
                vertical-align: middle;
                margin-right: 4px;
            }
            @include typography(getFont(1), 24px, 35px, 300, $textColor);
            margin-bottom: 40px; 
            @media (max-width: $bp_tabletPortrait3) {
                display: flex;
                align-items: center;
                img {
                    margin-right: 7px;
                }
            }
            @media (max-width: $bp_mobileLandscape) {
                margin-bottom: 20px;
                // font-size: 25px;
                // line-height: 31px;
                img {
                    margin-right: 10px;
                }
            }
            @media (max-width: $bp_mobile) {
                font-size: 20px;
                line-height: 27px;
            }
        }
    }
    .form-cell {
        @media (max-width: $bp_mobileLandscape) {
            margin-top: 50px;
        } 
    }
    .form-container {
        form {
            max-width: 735px;
            @media (min-width: $bp_desktopMedium) {
                min-width: 735px;
            }
        }
        form {
            margin: 0 !important;
            background: $contactBackground;
            border: 1px solid getColor(2);
            @include typography(getFont(1), 20px, 29px, 300, $textColor);
            padding: 25px 15px;
            h2 {
                display: none;
            }
            p {
                &:empty {
                    display: none;
                }
            }
    
            .two-col {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 8px;
                label {
                    @include typography(getFont(1), 16px, 23px, 300, $textColor);
                    margin-top: 10px;
                    margin-bottom: 0;
                }
                @media (max-width: $bp_mobileLandscape) {
                    grid-template-columns: repeat(1, 1fr);
                    grid-gap: 0;
                    .row {
                        &:first-child {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
    
            .col {
                margin-bottom: 20px;
            }
    
            label {
                margin-bottom: 10px;
                display: block;
                &.title {
                    margin-bottom: 20px;
                }
            }
    
            input, textarea {
                display: block;
                border: 1px solid getColor(2);
                outline: none;
                appearance: none;
                @include typography(getFont(1), 20px, 29px, 300, $textColor);
                width: 100%;
            }
            input {
                padding: 11.2px;
            }
            textarea {
                resize: none;
                min-height: 138px;
            }
            button {
                cursor: pointer;
                padding: 25px;
                width: 206px;
                text-decoration: none;
                outline: none;
                appearance: none;
                text-align: center;
                @include typography(getFont(1), 16px, 23px, 600, $lightColor);
                @include transition(0.35s);
                background: getColor(2);
                border: none;
                em {
                    font-style: unset;
                }
                &:hover {
                    background: $buttonHover;
                }
        
            }
        }
        .forminator-response-message {
            ~ .forminator-row {
                margin-bottom: 20px !important;
            }
            &.forminator-show {
                background: getColor(1);
                color: $lightColor;
                font-family: getFont(1) !important;
                font-size: 16px !important;
                position: relative;
            }
        }
        .form-upload {
            label {
                &::after {
                    content: url('/wp-content/themes/outsource-corp/assets/images/form-upload.png');
                    width: 33px;
                    height: 33px;
                    display: inline;
                    vertical-align: sub;
                    margin-left: 20px;
                }
            }
        }
        .forminator-field {
            .forminator-description {
                display: none !important;
            }
            .forminator-textarea {
                resize: none !important;
                height: 138px !important;
            }
            .forminator-input, .forminator-label, span, .forminator-title, .forminator-textarea {
                font-family: getFont(1) !important;
                font-size: 20px !important;
                line-height: 29px !important;
                font-weight: 300 !important;
                color: $textColor;
            }
            .forminator-title {
                color: $textColor !important;
            }
            .forminator-label {
                margin-bottom: 10px !important;
                flex: 1 0 100%;
                .forminator-required {
                    color: $lightColor;
                }
            }
            .forminator-input {
                padding: 7.7px !important;
                border-color: $border;   
            }
        }
        .label-bottom {
            .forminator-field {
                .forminator-label {
                    font-size: 16px !important;
                    line-height: 23px !important;
                    margin-top: 10px !important;
                    margin-bottom: 0 !important;
                    .forminator-required {
                        display: none !important;
                    }
                }
                .forminator-input {
                    @media (min-width: $bp_desktopMedium) {
                        min-width: 350px !important;
                    }
                }
            }
            .forminator-row {
                > div:last-child {
                    @media (min-width: $bp_desktopMedium) {
                        padding-left: 4px !important;
                    }
                }
            }
        }
        .forminator-button {
            cursor: pointer;
            padding: 25px !important;
            width: 206px !important;
            text-decoration: none;
            outline: none;
            // text-transform: uppercase;
            text-align: center;
            font-family: getFont(1) !important;
            font-size: 16px !important;
            line-height: 23px !important;
            font-weight: 600 !important;
            @include transition(0.35s);
    
            &:hover {
                box-shadow: none !important;
            }
    
        }
    }

}