.block--custom-layout__lets-connect {
    background-color: getColor(1);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 60px 0 40px; //70 40
    @media (max-width: $bp_mobileMenuShift) {
        padding: 80px 0;
    } 
    @media (max-width: $bp_mobile) {
        padding: 60px 0;
    }
    &.layout-spaced {
        h5 {
            margin-bottom: 70px; //90px
        }
        padding-bottom: 100px;
    }
    .left {
        text-align: left;
    }
    .center {
        text-align: center;
    }
    .right {
        text-align: right;
    }
    h3 {
        font-weight: 800;
        margin-bottom: 30px;
        text-transform: uppercase;
        &.heading {
            margin-bottom: 20px;
        }
    }
    h5 {
        @include typography(getFont(1), 24px, 31.2px, 900, inherit);
        margin-bottom: 30px;
        text-transform: uppercase;
        &.subtitle {
            font-weight: 500;
            text-transform: none;
            margin-bottom: 30px;
        }
    }
    .description {
        max-width: 69%;
        margin: 0 auto;
        @media (max-width: $bp_desktopSmall) {
            max-width: 89%;
        }
        @media (max-width: $bp_mobileBig) {
            max-width: 85%;
        }
        @media (max-width: $bp_mobile) {
            max-width: 100%;
        }
    }
    .cta-wrap {
        margin-top: 45px;
    }
    p, li {
        @include typography(getFont(1), 30px, 39px, 500, inherit);
        margin-bottom: 15px;
        @media (max-width: $bp_mobileBig) {
            font-size: 40px;
            line-height: 52px;
        }
        @media(max-width: $bp_mobile){
            font-size: 24px;
            line-height: 35px;
        }
    }
}